body{
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5bbf58a6-1e85-4cfe-83fd-02df6f482b45/de8nlib-6bed7b3d-3d7e-4763-bb60-18f5ee0127fd.png/v1/fill/w_1024,h_652,q_80,strp/background_prairie_pokemon_screencapture_by_nemotrex_de8nlib-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjUyIiwicGF0aCI6IlwvZlwvNWJiZjU4YTYtMWU4NS00Y2ZlLTgzZmQtMDJkZjZmNDgyYjQ1XC9kZThubGliLTZiZWQ3YjNkLTNkN2UtNDc2My1iYjYwLTE4ZjVlZTAxMjdmZC5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.ZVgNGi61AOkC068E-wphWmAUW8amj0MiJySqDcMCVh8);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    } 



.container {
    max-width: 90vw;
    margin: 1rem auto;
    text-align: center;
    display: grid;
    justify-content: space-around;
    justify-content: space-between;

}

.pikachu, .bulbasaur, .ludicolo {
    grid-row:1;
}

.psyduck, .venusaur, .blastoise {
    grid-row:2;
}


.card {
    min-height: 500px;
    position: relative;
    width: calc(55% - 10px);
    border: 1px solid #ddd;
    border-radius: 10px; /*pagka curve ng card*/
    overflow: hidden;
 
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    margin: 15px

}



.card:hover {
    transform: scale(1.05);
}

.background img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


.pokemon-image {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    
}

.pokemon-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pokemon-description {

color: #fff;
}
.psyduck, .pokemon-description {
    color: black;
}

/*desc*/
.pikachu .pokemon-description {
    background-color: yellow;
}

.bulbasaur .pokemon-description {
    background-color: rgb(25, 219, 184);
   
}
.ludicolo .pokemon-description {
    background-color: rgb(131, 201, 17);
 
}
.psyduck .pokemon-description {
    background-color: rgb(236, 218, 125);
   
}
.venusaur .pokemon-description {
    background-color: rgb(11, 145, 75);
   
}
.blastoise .pokemon-description {
    background-color: rgb(7, 105, 181);
   
}




h2 {
    text-align: center;
    margin: 60px 0 10px;
    font-size: 24px;
}

h3{
    color:black;
    font-size: 18px;
}

.type, p {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
}



/*element types*/

.electric { /*type bg*/
    background-color: #f7d02c;
}

.pikachu { /*bottom card bg*/
    background-color:yellow;
    color: black
}
.bulbasaur {
    background-color: rgb(25, 219, 184);
    color: black;
}
.ludicolo {
    background-color: rgb(131, 201, 17);
    color: black;
}
.psyduck {
    background-color: rgb(236, 218, 125);
    color: black;
}
.venusaur {
    background-color: rgb(11, 145, 75);
    color: black;
}
.blastoise {
    background-color: rgb(7, 105, 181);
    color: black;
}

/*rest of elements*/
.grass {
    background-color: green;
}
.poison{
    background-color: violet;
}
.water{
    background-color:aqua;
}



p {
color: #fff;
    text-align: center;
    font-size: 14px;
    background-color: #f7d02c;
    
}



 /*both button properties?*/
.add-pokemon, .release-pokemon {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
    margin-right: 5px;
   
}

.add-pokemon {
    background-color: darkcyan;
}

.release-pokemon {
    background-color: crimson;
}

 .add-pokemon:hover {
    background-color: rgb(44, 214, 214);
}

.release-pokemon:hover {
    background-color:rgb(255, 63, 105);
}