body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #e3f2fd;
    color: #222;
    padding: 20px;
}

h2 {
    color: #0d47a1;
    font-size: 28px;
}

form input, form button {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

a { 
    color: #007BFF;
    text-decoration: none;
}

button {
    background-color: #0d47a1;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #1565c0;
}
