body {
    font-family:Arial, sans-serif;
    background-color: #000000;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    
    background-color: #b80000;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

#logo {
    font-size:24px;
}

header nav {
    display:flex;
    gap: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

main{ 
    display: flex;
justify-content: space-around;
padding: 20px;
}

#left-middle-section {
    display: flex;
    flex-direction: column;
    width: 60%;
}

#small-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    
}

.small-box {
    background-color: #6f6c6c;
    padding: 10px;
    width: calc(25-% - 10px);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba (0, 0, 0, 0.1);
}

.small-box img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

small-box-content {
    padding: 10px;
}

.small-box-content h3 {
    margin: 5px 0 0;
    font-size: 14px;
    font-weight: bold;
}

.small-box-content p {
    margin: 5px 0;
    font-size: 12px;
}

.text-box {
    background-color: #000000;
    padding: 10px;
    margin-top: 10px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-box h2 {
    margin: 0;
    font-size: 18px;
}
.text-box p {
    margin: 5px 0;
    font-size: 14px;
}

#right-section {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box {
    background-color: rgb(43, 43, 43);
    padding: 10px;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

@media only screen and (max-width: 1023px) {
    main {
        flex-direction: column;
        align-items: center;
    }
    #left-middle-section {
        width: 80%;
    }
    #right-section { 
        width: 80%;
    }

    .small-box {
        width: 45%; 
    }

    }

    @media only screen and (mid-width: 767px) {
        header {
            flex-direction: column;
            align-items: center;
        }
        nav {
            margin-top: 10px;
        }
        main { 
            flex-direction: column;
            align-items: center;
        }
    
       left-middle-section {
            width: 90%; 
        }
    
         #right-section {
            width: 90%;
         }

         .small-box {
            width: 100%;
         }
        }
        

